@media screen and (min-width: 1000px)
 {
    .bar{
        visibility: hidden;
        margin: 3px;
    }
    .nav{
         padding:9px;

         background-color:
          text-align: center;
           

    }
.para{
    text-align: center;
}

.hea{
    padding-left: 5em;
margin: 2em;
}

.img {
    position: absolute;
}
.imge{
    position: relative;
    padding-left: 30px;
    margin: 5px;
}




.div1{
    background-color :#00539cff;
    width: 100%;
    text-align: center;
}
.div1 a{   
   text-decoration: none;
   padding-right: 10px;
   min-height: 20px;
   max-height: 30px;
}
.div1 p{
   color: #fff;
}
.btn1{
    background-color: #f8f8ff;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 40px;
}
.btn2{
    background-color: #f8f8ff;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 40px;
}
.btn3{
    background-color: #f8f8ff;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 40px;
}
.btn1:hover{
    background-color: #FFD662FF;
    color:#00539cff;
    transition:0.7s ease;
    font-size: 15px;
}
.btn2:hover{
    background-color: #FFD662FF;
    color:#00539cff;
    transition:0.7s ease;
    font-size: 15px;
}
.btn3:hover{
    background-color: #FFD662FF;
    color:#00539cff;
    transition:0.7s ease;
    font-size: 15px;
}
@media screen and (min-width: 1000px) {
    .div1 {
    display: flex; 
    }
    .btn{
        float: right;
        width: 30%;
        text-align: right;
    }
    .subdiv1{
     width: 10%;
    }
    .subdiv2{
        width: 60%;
        margin-top: 15px;
    }
    .btn1{
        margin: 16px 0px;
    }
    .btn2{
        margin: 16px 0px;
    }
    .btn3{
        margin: 16px 0px;
        margin-right: 10px;
    }
    .btn1:hover{
        background-color: #FFD662FF;
        color:#00539cff;
        transition:0.7s ease;
        font-size: 20px;
    }
    .btn2:hover{
        background-color: #FFD662FF;
        color:#00539cff;
        transition:0.7s ease;
        font-size: 20px;
    }
    .btn3:hover{
        background-color: #FFD662FF;
        color:#00539cff;
        transition:0.7s ease;
        font-size: 20px;
    }
    }
    .div2{
        background-color: #f8f8ff;
        width: 100%;
        max-height: 114px;
        display: flex;
    }
    .subdiv2_1{
        width: 50%;
        max-height: 114px;
    }
   .subdiv2_1 .img__1{
        width: 100%;
        min-height:70px;
        
    }
    .subdiv2_2{
        width: 50%;
    }
    .bar{  
        width: 100%;
        text-align: right;
        margin-top: 35px;
    }
 
    }
        .div2{
            width: 100%;
        }
        .subdiv2_1{
        width: 40%;
    }
    .subdiv2_2{
        width: 60%;
        
        text-align: center;
        font-size: 21px;
    }
    .subdiv2_1 .img__1{
        width: 100%;
        max-height: 100px;
    }
}
marquee{
    width: 100%;
}
.marquee1{
    background-color:#8dc63f;
    color:white ;

    width:80%;
    margin: 0% 10%;
    font-size: 18px;
}
.theme{
    width: 100%;
}
.theme0{
    text-align: center;
}
.theme1{
    width: 100%;
    text-align: center;    
}
.theme2{
    visibility: hidden;
    width:0px;
}
.subtheme1{
    width: 100%;    
    text-align: center;
}
.theme3{
    width: 100%;
    font-family: 'Lobster', cursive;
    color:#000;
    padding: 10px;
    font-size: 25px;
    text-decoration:none;
    border-radius: 30px;
    color: #fff;
    background-color:#00539cff;
    
    
}
@media screen and (min-width:700px){
    /* .theme{
        width: 100%;
       float: left;
        border: 2px solid #000;
    } */
    h1.theme0{
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin-top:25vh ;
    }
    p.theme1{
        width: 90%;
        margin: 0px 30px;
        text-align: center;
    }
    .theme2{
        
        width: 50%;
        visibility: visible;   
    }
    .subtheme1{
        width: 100%;
        
        text-align: center;
    }
    .theme3 {
        font-family: 'Lobster', cursive;
        color:#000;
        padding: 10px;
        font-size: 25px;
        text-decoration:none;
        border-radius: 30px;
        color: #fff;
        background-color:#00539cff;
    }
    .subtheme{
        width: 50%;
    }
    .theme{
        display: flex;
    }
    
}
.introduction{
    width: 100%;
}
 p{
     margin: 0px;
     
}
.introduction1{
 width: 100%;
 font-family: 'Playfair Display', serif;
 text-align: justify;
 text-align:center;
 font-size: 18px;
 color: #3c3c3c;
}
@media screen and (min-width: 1000px){
    .introduction1{
        width: 90%;
        text-align: justify;
        text-align:left;
        margin:0% 5%;
    }
}
.div3{
    width: 100%;
    background-color:#8dc63f;
    font-size: 17px;
}
.subdiv3_1 ,.subdiv3_2 ,.subdiv3_3 ,.subdiv3_4{
    width:100%;
    text-align: center;
}
@media screen and (min-width:1000px){
    .div3{
        width:100%;
        display: flex;
    }
}

@media screen and (min-width:800px){
     .subdiv3{
         width: 100%;
         display: flex;
     }
     .subdiv4{
         width: 100%;
         display:flex;
     }
    
}
.div5{
    width: 100%;
    background-color:#D0D0D0;
    text-align: center;
}

.subdiv5_1_1 , .subdiv5_2_1, .subdiv5_3_1 , .subdiv5_4_1, .subdiv5_5_1, .subdiv5_5_2{
    width :80%;
    border-radius: 5px;
    background-color: #fff;
    margin: 0% 10%;
} 
@media screen and (min-width:800px){
    .div5 {
        width: 100%;
        
    }
    .subdiv5_{
        background-color: #d0d0d0;
        width: 50%;
  
    }
    .subdiv5_1{
        width: 50%;
        background-color: #d0d0d0;
    }
    .subdiv5_ , .subdiv5_1{
        float: left;
    }
    .subdiv5_1_1 , .subdiv5_2_1, .subdiv5_3_1 , .subdiv5_4_1, .subdiv5_5_1, .subdiv5_5_2{
        margin: 0% ;
        border-radius: 10px;
        width: 90%;
    }   
    .subdiv5_1_1 {
        margin-left: 20px;
    }
   .subdiv5_2_1{
       margin-left: 20px;
   }
    .subdiv5_3_1{
        margin-left: 20px;
    }
}
 @media screen and (min-width:1000px){
    .div5 {
        width: 100%;
        
    }
    .subdiv5_ {
        display: flex;
    } 
    .subdiv5_1_1{
        margin-left: 0px;
    }
    .subdiv5_2_1{
        margin-left: 0px;
    }
    .subdiv5_3_1{
        margin-left: 0px;
    }
    .subdiv5_1{
        display: flex;
    } 
    .subdiv5_ , .subdiv5_1{
        float: none;
        width: 100%;
    }
    .subdiv5_1_1 , .subdiv5_2_1, .subdiv5_3_1 , .subdiv5_4_1, .subdiv5_5_1, .subdiv5_5_2{
        margin:10px;
    }
    .subdiv5_1_1:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
    .subdiv5_2_1:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
    .subdiv5_3_1:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
    .subdiv5_4_1:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
    .subdiv5_5_1:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
    .subdiv5_5_2:hover{
        transform: scale(1.02);
        transition:0.7s ease;
        box-shadow: 20px 20px 50px grey;
        font-size: 20px;
    }
} 
section {
    display: flex;
    width: 100%;
    height: 90vh; 
  }
  section .slide{
    position: relative;
    height: 90vh;
    overflow: hidden;
    flex: 1;
    transition: 0.5s ease-in-out;
  }
  section .slide:last-child{
    border-right: none;
  }
  section .slide:hover{
    flex:4;
  }
  section .slide:nth-child(1){
   background: url(../picture/virus.gif);
   background-position: center center;
   background-repeat: no-repeat;
  }
  section .slide:nth-child(2){
   background: url(../picture/house.gif);
   background-position: center center ;
   overflow: hidden;
   background-repeat: no-repeat;
  }
  section .slide:nth-child(3){
   background: url(../picture/laptop.gif);
   background-position: center center;
   background-repeat: no-repeat;
   width: 50%;
  }
  section .slide:nth-child(4){
   background: url(../picture/desert.gif);
   background-position: center center;
   background-repeat: no-repeat;
  }
   section .slide .content{
    bottom: 14px;
    margin: 17px;
    padding: 1px;
    background: #000;
    background:rgba(0,0,0,0.5);
    position: absolute;
    visibility: hidden;
    opacity: 0;

   }
   section .slide:hover .content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
   }
   .flex1{
    font-family: 'Playfair Display', serif;
    color: #fff;
   }
   .marque2{
    width: 100%;
   border-radius: 20px;
    background-color: #f8f8ff;
   
   }
   .marquee2_1{
    width:100%;
    background-color: #00539cff;
    color:#FFD662FF; 
    border-radius: 20px;
    max-height:150px;
    font-family:'Playfair Display', serif;
    
}
   @media screen and (min-width:650px){
    .marque2{
        width: 100%;
       border-radius: 20px;
        background-color: #f8f8ff;
    }
    .marquee2_1{
        width: 40%;
        margin:0% 30%;
        background-color: #00539cff;
        color:#FFD662FF; 
        border-radius: 20px;
        max-height:150px;
        font-family:'Playfair Display', serif;
        box-shadow: 20px 20px 50px grey;
    }
}
.TABLE{
    /* border: 2px solid #000; */
    width: 100%;
}
.divtable1{
    width: 100%;
    background-color: #696969;
}
.footerbotom {
    width: 100%;
    color: #f8f8ff;
    background-color:#00539cff;
    font-size: 20px;
    height: 5vh;
}
.footerbotom{
    margin-top: 30px;
}
.image_gallery{
    width: 100%;
    }
.img1, .img2, .img3, .img4{
    margin: 0% 25%;
    border-radius: 10px;
    widows: 50%;
    height: 25vh;
    
}
@media screen and (min-width:600px){
    .image_gallery h1{
        text-align: center;
    }
 .image_gallery1{
     width: 100%;
     display :flex;
     justify-content: space-around;
 }
 .image_gallery2{
     width: 100%;
     display:flex;
     justify-content: space-around;
 }
 .img1, .img2, .img3, .img4{
     margin:0px;
}
}
@media screen and (min-width:980px){
    .image_gallery{
        display: flex;    
    }
    .img1:hover{
        transform: scale(1.1);
   
    transition:0.7s ease;
    }
    .img2:hover{
        transform: scale(1.1);
        
        transition:0.7s ease;
        }
        .img3:hover{
           
            transition:0.7s ease;
            transform: scale(1.1);
            }
            .img4:hover{
               
                transition:0.7s ease;
                transform: scale(1.1);
                }
                .img1, .img2, .img3, .img4{
                    margin:0px;
}
}
